<div class="card-deck">
    {{#each listaAnos}}
    <div class="card text-center col-md-3 p-0">
        <div class="card-header"><h3 class="card-title">Año {{ano}}</h3></div>
        <div class="card-body">
            
            <a href="/movimientos/{{ano}}" class="btn btn-primary btn-block btn-sm">Acceder</a>
            <a href="/anos/edit/{{ano}}" class="btn btn-danger btn-block btn-sm">Editar</a>
        </div>
    </div>
    {{/each}}


    <div class="card text-center col-md-3 p-0">
        <div class="card-header"><h3 class="card-title">Añadir Año</h3></div>
        <div class="card-body">
            
            <a href="/anos/new" class=""><i class="fas fa-3x fa-plus-circle"></i></a>
        </div>
    </div>
</div>