
{{#if errors_msg}}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  <h4 class="alert-heading">Existen errores!</h4>
  <ul>
      {{#each errors_msg}}
        {{#if this.msg}}
            <li>{{this.msg}}</li>
        {{else}}
            <li>{{this}}</li>
        {{/if}}
      {{/each}}
  </ul>
  <hr>
  <p class="mb-0">Por favor corrijalos antes de continuar.</p>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}
{{#if success_msg}}
<div class="alert alert-success alert-dismissible fade show" role="alert">
  <ul>
      <li>{{success_msg}}</li>
  </ul>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{{/if}}